@import"mens-new-content.css";
@import"womens-new.css";
@import"mens-sale.css";
@import"womens-sale.css";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

.container{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

/* Mobile Nav */

.mobile-nav{
    text-align: center;
    margin-top: 5%;
    background-color: white;
    height: 48vh;
    width: 30vh;
    -webkit-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
    margin: 0 auto;
    transform: translateY(100%, 0%, 0%);

}

.mobile-nav.active{
    transform: translateY(0%, 0%, 0%);
    display: none;
    
}

.mobile-nav h3{
    letter-spacing: 1px;
    padding-top: 20px;
    text-transform: uppercase;
}

.mobile-nav ul{
    list-style-type: none;
}

.mobile-nav ul a{
    padding: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.navbar{
    padding-top: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
}


.logo > h1:nth-child(1){
    text-align: center;
    cursor: pointer;
    padding-top: 5%;
    text-decoration: none;
}

.navbar-container .logo a{
    text-decoration: none;
    
}

.navbar-container .logo a h1{
    text-align: center;
    padding-top: 5%;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.navbar a p{
    padding: 15px 45px;
}


/* DROPDOWN CONTENT */

.womens-dropdown {
    position: relative;
    display: flex;
    padding: 15px;
}

.mens-dropdown {
    position: relative;
    display: flex;
    padding: 15px;
}

.lifestyle-dropdown {
    position: relative;
    display: flex;
    padding: 15px;
}


.sale-dropdown {
    position: relative;
    display: flex;
    padding: 15px;
}


.home-dropdown{
    position: relative;
    display: flex;
    padding: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
    padding-top: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    position: relative;
    left: -25%;
}

.womens-dropdown:hover .dropdown-content {
    display: flex;
    margin-top: 10px;
}

.mens-dropdown:hover .dropdown-content {
    display: flex;
    margin-top: 10px;
}

.lifestyle-dropdown:hover .dropdown-content {
    display: flex;
    margin-top: 10px;
}

.sale-dropdown:hover .dropdown-content {
    display: flex;
    margin-top: 10px;
}

.home-dropdown:hover .dropdown-content {
    display: flex;
    margin-top: 10px;
}

/* DROP-DOWN CONTENT H3 */

.womens-dropdown .womens-title{
    letter-spacing: 2px;
    cursor: pointer;
}

.mens-dropdown .mens-title{
    letter-spacing: 2px;
    cursor: pointer;
}

.lifestyle-dropdown .lifestyle-title{
    letter-spacing: 2px;
    cursor: pointer;
}

.sale-dropdown .sale-title{
    letter-spacing: 2px;
    cursor: pointer;
}

.home-dropdown .home-title{
    letter-spacing: 2px;
    cursor: pointer;
}

/* SEARCH-BAR */

.search-container button{
    font-size: 20px;
    cursor: pointer;
    border-radius: 25%;
    margin-left: 5px;
    padding: 5px 10px;
    position: relative;
    left: 40%;
}

.navbar input[type=text] {
    padding: 6px;
    font-size: 17px;
    margin-left: 25px;
    position: relative;
    left: 40%;
}

/* SHOPPING CART */

.navbar .shopping-cart{
    position: relative;
    left: 11%;
    padding-top: 10px;
}

.navbar .shopping-cart a ion-icon{
    font-size: 30px;
    cursor: pointer;
}

/* MENU BUTTON */

.navbar-container .menu-button ion-icon{
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    font-size: 40px;
    padding: 5px;
    cursor: pointer;
    display: none;
    
}


/* TOP-SECTION */

#top-section .banner-container{
    position: relative;
    text-align: center;
    color: white;
}

#top-section .banner-container .image{
    background: url('https://images.pexels.com/photos/1036396/pexels-photo-1036396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 500px;
    width: 1000px;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 5%;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
}


#top-section .banner-container .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

#top-section .banner-container .bottom-right a{
    position: absolute;
    top: 80%;
    right: 50%;
    color: black;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 900;
    border: 2px solid white;
    width: 100px;
    height: 45px;
    cursor: pointer;
    margin-top: 2px;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

#top-section .banner-container .bottom-right a:hover{
    background-color: black;
    color: white;
}

#footer-section .footer-container ion-icon{
    color: black;
    font-size: 25px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

#footer-section .footer-container ion-icon:hover{
    opacity: .5;
}

@media only screen and (max-width: 815px){
    .navbar{
        display: none;
    }

    .mobile-nav {
        text-align: center;
        background-color:white;
        height: 42vh;
        width: 30vh;
        -webkit-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
        box-shadow: 2px 0px 78px -15px
        rgba(0,0,0,0.75);
        margin: 0 auto;
        transition: all .5s ease-in-out;
        transform: translateY(100%, 0%, 0%);
        
    }
    
    
    .mobile-nav.active{
        transform: translateY(0%, 0%, 0%);
        display: none;
        
        
    }

    .mobile-nav ul a{
        padding: 5px;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    


            /* MENU BUTTON */

        .navbar-container .menu-button ion-icon{
           margin: 0 auto;
            width: 100%;
            margin-top: 50px;
            font-size: 40px;
            cursor: pointer;
            display: flex;
        }

    #top-section .banner-container .image{
        height: 300px;
        width: 700px;
    }

    /* CONTENT-SECTION */

    #mens-new-section .mens-new-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    /* FOOTER-SECTION */

    #footer-section .footer-container{
        margin: 0 auto;
        text-align: center;
        grid-template-columns: 1fr;
        display: grid;
        margin-top: 30%;
    }

    #footer-section .footer-container .help-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .links-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .extras-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .findstore-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .socialmedia-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .socialmedia-container ion-icon{
        color: black;
        font-size: 25px;
    }

    #footer-section .footer-container .links-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .extras-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .findstore-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .findstore-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .socialmedia-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section h5 {
        text-align: center;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        width: 50%;
        margin: 0 auto;
        font-size: 15px;
    }

}


@media only screen and (max-width: 470px){
    .navbar{
        display: none;
    }

    /* MENU BUTTON */

    .navbar-container .menu-button ion-icon{
        margin: 0 auto;
        width: 100%;
        margin-top: 50px;
        font-size: 40px;
        cursor: pointer;
        display: flex;
    }
    

    .mobile-nav{
        text-align: center;
        margin-top: 5%;
        background-color: white;
        height: 65vh;
        width: 30vh;
        -webkit-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
        box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
        margin: 0 auto;
        transform: translateY(100%, 0%, 0%);
    }
            
    .mobile-nav.active{
        transform: translateY(0%, 0%, 0%);
                
    }

    #top-section .banner-container .image{
        height: 300px;
        width: 700px;
    }

    #mens-new-section .mens-new-container{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 15%;
        grid-gap: 50px;
    }


    /* FOOTER-SECTION */

    #footer-section .footer-container{
        margin: 0 auto;
        text-align: center;
        grid-template-columns: 1fr;
        display: grid;
        margin-top: 70%;
    }

    #footer-section .footer-container .help-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .links-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .extras-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .findstore-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .socialmedia-container{
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    #footer-section .footer-container .links-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .extras-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .findstore-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .findstore-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .socialmedia-container h5{
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-section .footer-container .socialmedia-container ion-icon{
        color: black;
        font-size: 17px;
    }
}